In [3]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas
import numpy as np

%matplotlib inline
import matplotlib.pyplot as ppt
import seaborn

url_draft_years = "http://www.basketball-reference.com/draft/NBA_{year}.html"

all_drafts = pandas.DataFrame()

#combine draft data from 1996 to current to one data frame
for year in range(1996, 2017):
    url = url_draft_years.format(year=year)

    html_from_url = urlopen(url)

    bs = BeautifulSoup(html_from_url, 'html.parser')

    table_row = bs.findAll('tr', limit=2)[1].findAll('th')

    headers = [th.getText() for th in bs.findAll('tr', limit=2)[1].findAll('th')]
    headers.remove('Pk')

    #player data starts after 2nd table record
    player_data_rows = bs.findAll('tr')[2:]

    player_data = [[td.getText() for td in player_data_rows[i].findAll('td')]
                   for i in range(len(player_data_rows))]

    year_data_frame = pandas.DataFrame(player_data, columns=headers)
    year_data_frame.insert(0, 'Draft Year', year)

    all_drafts = all_drafts.append(year_data_frame, ignore_index=True)

# Convert data to proper data types
all_drafts = all_drafts.convert_objects(convert_numeric=True)

#remove any rows that have null data
all_drafts = all_drafts[all_drafts.Player.notnull()]

#fill Not A Numbers to 0 and change some columns to int
all_drafts = all_drafts[:].fillna(0)

# Make header names more readable/clear
all_drafts.rename(columns={'WS/48': 'WS per 48'}, inplace=True)
all_drafts.columns = all_drafts.columns.str.replace('%', '_PERC')

all_drafts.columns.values[13:18] = [all_drafts.columns.values[13:18][col] + " per Game" for col in range(5)]

all_drafts.loc[:,'Yrs':'AST'] = all_drafts.loc[:,'Yrs':'AST'].astype(int)

all_drafts.to_csv("draft_data_1996_to_2016.csv")

KeyboardInterrupt:

In [4]:
print("milan")

milan

In [5]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas
import numpy as np

%matplotlib inline
import matplotlib.pyplot as ppt
import seaborn

url_draft_years = "http://www.basketball-reference.com/draft/NBA_{year}.html"

all_drafts = pandas.DataFrame()

#combine draft data from 1996 to current to one data frame
for year in range(1996, 2017):
    url = url_draft_years.format(year=year)

    html_from_url = urlopen(url)

    bs = BeautifulSoup(html_from_url, 'html.parser')

    table_row = bs.findAll('tr', limit=2)[1].findAll('th')

    headers = [th.getText() for th in bs.findAll('tr', limit=2)[1].findAll('th')]
    headers.remove('Pk')

    #player data starts after 2nd table record
    player_data_rows = bs.findAll('tr')[2:]

    player_data = [[td.getText() for td in player_data_rows[i].findAll('td')]
                   for i in range(len(player_data_rows))]

    year_data_frame = pandas.DataFrame(player_data, columns=headers)
    year_data_frame.insert(0, 'Draft Year', year)

    all_drafts = all_drafts.append(year_data_frame, ignore_index=True)

# Convert data to proper data types
all_drafts = all_drafts.convert_objects(convert_numeric=True)

#remove any rows that have null data
all_drafts = all_drafts[all_drafts.Player.notnull()]

#fill Not A Numbers to 0 and change some columns to int
all_drafts = all_drafts[:].fillna(0)

# Make header names more readable/clear
all_drafts.rename(columns={'WS/48': 'WS per 48'}, inplace=True)
all_drafts.columns = all_drafts.columns.str.replace('%', '_PERC')

all_drafts.columns.values[13:18] = [all_drafts.columns.values[13:18][col] + " per Game" for col in range(5)]

all_drafts.loc[:,'Yrs':'AST'] = all_drafts.loc[:,'Yrs':'AST'].astype(int)

all_drafts.to_csv("draft_data_1996_to_2016.csv")

draft_df = pandas.read_csv("draft_data_1996_to_2016.csv")

/Users/milankaku/repos/NBAStats/nbastats/lib/python3.6/site-packages/ipykernel/__main__.py:39: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [6]:
draft_df.head()

,Unnamed: 0,Draft Year,Rk,Tm,Player,College,Yrs,G,MP,PTS,...,3P_PERC,FT_PERC per Game,MP per Game,PTS per Game,TRB per Game,AST per Game,WS,WS per 48,BPM,VORP
0,0,1996,1.0,PHI,Allen Iverson,Georgetown University,14,914,37584,24368,...,0.313,0.780,41.1,26.7,3.7,6.2,99.0,0.126,2.7,44.1
1,1,1996,2.0,TOR,Marcus Camby,University of Massachusetts Amherst,17,973,28684,9262,...,0.205,0.670,29.5,9.5,9.8,1.9,81.6,0.137,2.9,35.6
2,2,1996,3.0,VAN,Shareef Abdur-Rahim,University of California,12,830,28882,15028,...,0.297,0.810,34.8,18.1,7.5,2.5,71.2,0.118,0.9,21.1
3,3,1996,4.0,MIL,Stephon Marbury,Georgia Institute of Technology,13,846,31891,16297,...,0.325,0.784,37.7,19.3,3.0,7.6,77.5,0.117,1.2,25.6
4,4,1996,5.0,MIN,Ray Allen,University of Connecticut,18,1300,46344,24505,...,0.400,0.894,35.6,18.9,4.1,3.4,145.1,0.150,3.0,58.1

In [7]:
draft_df.tail()

,Unnamed: 0,Draft Year,Rk,Tm,Player,College,Yrs,G,MP,PTS,...,3P_PERC,FT_PERC per Game,MP per Game,PTS per Game,TRB per Game,AST per Game,WS,WS per 48,BPM,VORP
1235,1277,2016,56.0,DEN,Daniel Hamilton,University of Connecticut,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236,1278,2016,57.0,MEM,Wang Zhelin,NaN,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1237,1279,2016,58.0,BOS,Abdel Nader,Iowa State University,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1238,1280,2016,59.0,SAC,Isaiah Cousins,University of Oklahoma,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1239,1281,2016,60.0,UTA,Tyrone Wallace,University of California,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
draft_df.dtypes

Unnamed: 0            int64
Draft Year            int64
Rk                  float64
Tm                   object
Player               object
College              object
Yrs                   int64
G                     int64
MP                    int64
PTS                   int64
TRB                   int64
AST                   int64
FG_PERC             float64
3P_PERC             float64
FT_PERC per Game    float64
MP per Game         float64
PTS per Game        float64
TRB per Game        float64
AST per Game        float64
WS                  float64
WS per 48           float64
BPM                 float64
VORP                float64
dtype: object

In [10]:
draft_df.describe()

,Unnamed: 0,Draft Year,Rk,Yrs,G,MP,PTS,TRB,AST,FG_PERC,3P_PERC,FT_PERC per Game,MP per Game,PTS per Game,TRB per Game,AST per Game,WS,WS per 48,BPM,VORP
count,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000
mean,640.703226,2006.100000,30.035484,4.890323,269.500806,6511.154839,2739.287903,1145.702419,576.197581,0.363423,0.204076,0.585918,15.119677,5.896452,2.649839,1.218790,13.949274,0.051144,-2.167742,3.411290
std,370.219688,6.046738,17.070060,4.512836,300.583498,8921.569304,4340.961127,1742.786103,1104.948464,0.177975,0.166914,0.297386,10.434695,5.189922,2.245490,1.441687,25.073003,0.093802,4.074184,9.837811
min,0.000000,1996.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.200000,-1.264000,-53.600000,-8.300000
25%,319.750000,2001.000000,15.000000,1.000000,24.000000,154.750000,44.750000,26.750000,7.000000,0.354000,0.000000,0.550000,6.900000,2.000000,1.000000,0.200000,0.000000,0.000000,-3.800000,-0.400000
50%,641.500000,2006.000000,30.000000,3.000000,139.000000,2114.000000,665.000000,347.500000,124.500000,0.420000,0.268000,0.703000,14.850000,4.700000,2.300000,0.800000,2.200000,0.057000,-1.400000,0.000000
75%,961.250000,2011.000000,45.000000,8.000000,456.250000,10443.250000,3667.000000,1640.000000,588.250000,0.462000,0.343000,0.784000,23.000000,8.600000,3.800000,1.625000,18.525000,0.097000,0.000000,2.425000
max,1281.000000,2016.000000,60.000000,20.000000,1392.000000,48637.000000,33643.000000,15091.000000,10335.000000,1.000000,1.000000,1.000000,41.100000,27.200000,12.800000,9.900000,206.400000,1.367000,19.600000,113.700000

In [11]:
draft_df['Draft Year'] == 1

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1210    False
1211    False
1212    False
1213    False
1214    False
1215    False
1216    False
1217    False
1218    False
1219    False
1220    False
1221    False
1222    False
1223    False
1224    False
1225    False
1226    False
1227    False
1228    False
1229    False
1230    False
1231    False
1232    False
1233    False
1234    False
1235    False
1236    False
1237    False
1238    False
1239    False
Name: Draft Year, dtype: bool

In [12]:
draft_df[draft_df['Draft Year'] == 1996]['WS per 48'].mean()

0.057999999999999996

In [16]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas
import numpy as np

%matplotlib inline
import matplotlib.pyplot as ppt
import seaborn

url_draft_years = "http://www.basketball-reference.com/draft/NBA_{year}.html"

all_drafts = pandas.DataFrame()

#combine draft data from 1996 to current to one data frame
for year in range(1996, 2017):
    url = url_draft_years.format(year=year)

    html_from_url = urlopen(url)

    bs = BeautifulSoup(html_from_url, 'html.parser')

    table_row = bs.findAll('tr', limit=2)[1].findAll('th')

    headers = [th.getText() for th in bs.findAll('tr', limit=2)[1].findAll('th')]
    headers.remove('Pk')

    #player data starts after 2nd table record
    player_data_rows = bs.findAll('tr')[2:]

    player_data = [[td.getText() for td in player_data_rows[i].findAll('td')]
                   for i in range(len(player_data_rows))]

    year_data_frame = pandas.DataFrame(player_data, columns=headers)
    year_data_frame.insert(0, 'Draft_Year', year)

    all_drafts = all_drafts.append(year_data_frame, ignore_index=True)

# Convert data to proper data types
all_drafts = all_drafts.convert_objects(convert_numeric=True)

#remove any rows that have null data
all_drafts = all_drafts[all_drafts.Player.notnull()]

#fill Not A Numbers to 0 and change some columns to int
all_drafts = all_drafts[:].fillna(0)

# Make header names more readable/clear
all_drafts.rename(columns={'WS/48': 'WS_per_48'}, inplace=True)
all_drafts.columns = all_drafts.columns.str.replace('%', '_PERC')

all_drafts.columns.values[13:18] = [all_drafts.columns.values[13:18][col] + "_per_Game" for col in range(5)]

all_drafts.loc[:,'Yrs':'AST'] = all_drafts.loc[:,'Yrs':'AST'].astype(int)

all_drafts.to_csv("draft_data_1996_to_2016.csv")

draft_df = pandas.read_csv("draft_data_1996_to_2016.csv", index_col=0)

/Users/milankaku/repos/NBAStats/nbastats/lib/python3.6/site-packages/ipykernel/__main__.py:39: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [17]:
draft_df.head()

,Draft_Year,Rk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P_PERC,FT_PERC_per_Game,MP_per_Game,PTS_per_Game,TRB_per_Game,AST_per_Game,WS,WS_per_48,BPM,VORP
0,1996,1.0,PHI,Allen Iverson,Georgetown University,14,914,37584,24368,3394,...,0.313,0.780,41.1,26.7,3.7,6.2,99.0,0.126,2.7,44.1
1,1996,2.0,TOR,Marcus Camby,University of Massachusetts Amherst,17,973,28684,9262,9513,...,0.205,0.670,29.5,9.5,9.8,1.9,81.6,0.137,2.9,35.6
2,1996,3.0,VAN,Shareef Abdur-Rahim,University of California,12,830,28882,15028,6239,...,0.297,0.810,34.8,18.1,7.5,2.5,71.2,0.118,0.9,21.1
3,1996,4.0,MIL,Stephon Marbury,Georgia Institute of Technology,13,846,31891,16297,2516,...,0.325,0.784,37.7,19.3,3.0,7.6,77.5,0.117,1.2,25.6
4,1996,5.0,MIN,Ray Allen,University of Connecticut,18,1300,46344,24505,5272,...,0.400,0.894,35.6,18.9,4.1,3.4,145.1,0.150,3.0,58.1

In [18]:
print(draft_df[draft_df['Draft_Year'] == 2014])

      Draft_Year    Rk   Tm                  Player  \
1096        2014   1.0  CLE          Andrew Wiggins
1097        2014   2.0  MIL           Jabari Parker
1098        2014   3.0  PHI             Joel Embiid
1099        2014   4.0  ORL            Aaron Gordon
1100        2014   5.0  UTA              Dante Exum
1101        2014   6.0  BOS            Marcus Smart
1102        2014   7.0  LAL           Julius Randle
1103        2014   8.0  SAC            Nik Stauskas
1104        2014   9.0  CHH             Noah Vonleh
1105        2014  10.0  PHI           Elfrid Payton
1106        2014  11.0  DEN          Doug McDermott
1107        2014  12.0  ORL             Dario Saric
1108        2014  13.0  MIN             Zach LaVine
1109        2014  14.0  PHO             T.J. Warren
1110        2014  15.0  ATL           Adreian Payne
1111        2014  16.0  CHI            Jusuf Nurkic
1112        2014  17.0  BOS             James Young
1113        2014  18.0  PHO             Tyler Ennis
1114        2014  19.0  CHI             Gary Harris
1115        2014  20.0  TOR           Bruno Caboclo
1116        2014  21.0  OKC            Mitch McGary
1117        2014  22.0  MEM            Jordan Adams
1118        2014  23.0  UTA             Rodney Hood
1119        2014  24.0  CHH          Shabazz Napier
1120        2014  25.0  HOU            Clint Capela
1121        2014  26.0  MIA           P.J. Hairston
1122        2014  27.0  PHO       Bogdan Bogdanovic
1123        2014  28.0  LAC             C.J. Wilcox
1124        2014  29.0  OKC            Josh Huestis
1125        2014  30.0  SAS           Kyle Anderson
1128        2014  31.0  MIL           Damien Inglis
1129        2014  32.0  PHI          K.J. McDaniels
1130        2014  33.0  CLE              Joe Harris
1131        2014  34.0  NYK        Cleanthony Early
1132        2014  35.0  UTA          Jarnell Stokes
1133        2014  36.0  MIL     Johnny O'Bryant III
1134        2014  37.0  TOR         DeAndre Daniels
1135        2014  38.0  DET       Spencer Dinwiddie
1136        2014  39.0  PHI            Jerami Grant
1137        2014  40.0  MIN      Glenn Robinson III
1138        2014  41.0  DEN            Nikola Jokic
1139        2014  42.0  HOU            Nick Johnson
1140        2014  43.0  ATL          Walter Tavares
1141        2014  44.0  MIN            Markel Brown
1142        2014  45.0  CHH           Dwight Powell
1143        2014  46.0  WAS         Jordan Clarkson
1144        2014  47.0  PHI              Russ Smith
1145        2014  48.0  MIL         Lamar Patterson
1146        2014  49.0  CHI        Cameron Bairstow
1147        2014  50.0  PHO              Alec Brown
1148        2014  51.0  NYK  Thanasis Antetokounmpo
1149        2014  52.0  PHI          Vasilije Micic
1150        2014  53.0  MIN      Alessandro Gentile
1151        2014  54.0  PHI        Nemanja Dangubic
1152        2014  55.0  MIA          Semaj Christon
1153        2014  56.0  DEN        Roy Devyn Marble
1154        2014  57.0  IND          Louis Labeyrie
1155        2014  58.0  SAS            Jordan McRae
1156        2014  59.0  TOR           Xavier Thames
1157        2014  60.0  SAS          Cory Jefferson

                                    College  Yrs    G    MP   PTS   TRB  ...   \
1096                   University of Kansas    3  223  8043  4468   916  ...
1097                        Duke University    3  152  4874  2403   846  ...
1098                   University of Kansas    1   31   786   627   243  ...
1099                  University of Arizona    3  183  4261  1614   945  ...
1100                                    NaN    2  127  2631   666   213  ...
1101              Oklahoma State University    3  185  5244  1692   702  ...
1102                 University of Kentucky    3  135  3803  1609  1273  ...
1103                 University of Michigan    3  203  4466  1457   429  ...
1104                     Indiana University    3  154  2122   536   601  ...
1105   University of Louisiana at Lafayette    3  215  6374  2256   841  ...
1106                   Creighton University    3  164  3328  1346   382  ...
1107                                    NaN    1   59  1476   667   365  ...
1108  University of California, Los Angeles    3  206  5945  2817   602  ...
1109        North Carolina State University    3  134  3073  1381   423  ...
1110              Michigan State University    3   96  1317   393   293  ...
1111                                    NaN    3  143  2569  1099   848  ...
1112                 University of Kentucky    3   83   706   195    91  ...
1113                    Syracuse University    3  112  1274   390   130  ...
1114              Michigan State University    3  167  4207  1632   396  ...
1115                                    NaN    3   22    89    16    10  ...
1116                 University of Michigan    2   52   557   227   183  ...
1117  University of California, Los Angeles    2   32   263   101    30  ...
1118                        Duke University    3  172  4829  2160   539  ...
1119              University of Connecticut    3  141  1906   588   203  ...
1120                                    NaN    3  135  2625  1128   875  ...
1121           University of North Carolina    2  111  2000   664   266  ...
1122                                    NaN    0    0     0     0     0  ...
1123               University of Washington    3   61   346   127    28  ...
1124                    Stanford University    2    6    62    21    14  ...
1125  University of California, Los Angeles    3  164  2290   583   452  ...
1128                                    NaN    1   20   156    36    31  ...
1129                     Clemson University    3  129  1801   656   272  ...
1130                 University of Virginia    3  106  1615   559   187  ...
1131               Wichita State University    2   56   801   241   123  ...
1132                University of Tennessee    3   28   151    67    40  ...
1133             Louisiana State University    3  107  1271   320   251  ...
1134              University of Connecticut    0    0     0     0     0  ...
1135                 University of Colorado    3   81  1371   452   161  ...
1136                    Syracuse University    3  201  4692  1525   723  ...
1137                 University of Michigan    3  138  2021   607   317  ...
1138                                    NaN    2  133  3159  1628  1040  ...
1139                  University of Arizona    1   28   262    74    39  ...
1140                                    NaN    2   12    77    27    22  ...
1141              Oklahoma State University    2  109  1763   579   229  ...
1142                    Stanford University    3  156  2266   873   568  ...
1143                 University of Missouri    3  199  5705  2769   682  ...
1144               University of Louisville    2   27   131    53    15  ...
1145               University of Pittsburgh    2   40   435    93    57  ...
1146               University of New Mexico    2   36   167    44    36  ...
1147      University of Wisconsin-Green Bay    0    0     0     0     0  ...
1148                                    NaN    1    2     6     6     1  ...
1149                                    NaN    0    0     0     0     0  ...
1150                                    NaN    0    0     0     0     0  ...
1151                                    NaN    0    0     0     0     0  ...
1152                      Xavier University    1   43   623   132    58  ...
1153                     University of Iowa    2   44   457    97    69  ...
1154                                    NaN    0    0     0     0     0  ...
1155                University of Tennessee    2   59   579   260    60  ...
1156             San Diego State University    0    0     0     0     0  ...
1157                      Baylor University    2   58   581   205   161  ...

      3P_PERC  FT_PERC_per_Game  MP_per_Game  PTS_per_Game  TRB_per_Game  \
1096    0.323             0.759         36.1          20.0           4.1
1097    0.341             0.748         32.1          15.8           5.6
1098    0.367             0.783         25.4          20.2           7.8
1099    0.288             0.673         23.3           8.8           5.2
1100    0.302             0.757         20.7           5.2           1.7
1101    0.298             0.743         28.3           9.1           3.8
1102    0.250             0.708         28.2          11.9           9.4
1103    0.343             0.808         22.0           7.2           2.1
1104    0.291             0.659         13.8           3.5           3.9
1105    0.286             0.596         29.6          10.5           3.9
1106    0.400             0.851         20.3           8.2           2.3
1107    0.311             0.788         25.0          11.3           6.2
1108    0.378             0.821         28.9          13.7           2.9
1109    0.306             0.745         22.9          10.3           3.2
1110    0.235             0.678         13.7           4.1           3.1
1111    0.000             0.589         18.0           7.7           5.9
1112    0.280             0.550          8.5           2.3           1.1
1113    0.317             0.727         11.4           3.5           1.2
1114    0.345             0.785         25.2           9.8           2.4
1115    0.308             0.000          4.0           0.7           0.5
1116    0.000             0.580         10.7           4.4           3.5
1117    0.385             0.607          8.2           3.2           0.9
1118    0.362             0.819         28.1          12.6           3.1
1119    0.345             0.754         13.5           4.2           1.4
1120    0.000             0.409         19.4           8.4           6.5
1121    0.295             0.810         18.0           6.0           2.4
1122    0.000             0.000          0.0           0.0           0.0
1123    0.327             0.813          5.7           2.1           0.5
1124    0.625             0.000         10.3           3.5           2.3
1125    0.342             0.752         14.0           3.6           2.8
1128    0.231             0.875          7.8           1.8           1.6
1129    0.292             0.769         14.0           5.1           2.1
1130    0.382             0.688         15.2           5.3           1.8
1131    0.263             0.750         14.3           4.3           2.2
1132    0.000             0.531          5.4           2.4           1.4
1133    0.750             0.606         11.9           3.0           2.3
1134    0.000             0.000          0.0           0.0           0.0
1135    0.276             0.788         16.9           5.6           2.0
1136    0.301             0.629         23.3           7.6           3.6
1137    0.381             0.698         14.6           4.4           2.3
1138    0.352             0.815         23.8          12.2           7.8
1139    0.238             0.680          9.4           2.6           1.4
1140    0.000             0.300          6.4           2.3           1.8
1141    0.297             0.781         16.2           5.3           2.1
1142    0.208             0.750         14.5           5.6           3.6
1143    0.334             0.805         28.7          13.9           3.4
1144    0.188             0.769          4.9           2.0           0.6
1145    0.236             0.720         10.9           2.3           1.4
1146    0.200             0.846          4.6           1.2           1.0
1147    0.000             0.000          0.0           0.0           0.0
1148    0.000             0.000          3.0           3.0           0.5
1149    0.000             0.000          0.0           0.0           0.0
1150    0.000             0.000          0.0           0.0           0.0
1151    0.000             0.000          0.0           0.0           0.0
1152    0.182             0.480         14.5           3.1           1.3
1153    0.222             0.375         10.4           2.2           1.6
1154    0.000             0.000          0.0           0.0           0.0
1155    0.384             0.774          9.8           4.4           1.0
1156    0.000             0.000          0.0           0.0           0.0
1157    0.125             0.583         10.0           3.5           2.8

      AST_per_Game    WS  WS_per_48   BPM  VORP
1096           2.2  10.0      0.060  -2.1  -0.1
1097           2.1   9.0      0.089  -1.3   0.9
1098           2.1   2.0      0.121   3.6   1.1
1099           1.5   8.4      0.094  -0.2   1.9
1100           2.1   0.8      0.015  -3.4  -0.9
1101           3.5   8.1      0.074   0.6   3.4
1102           2.5   3.8      0.049  -2.3  -0.3
1103           1.6   2.4      0.025  -3.1  -1.2
1104           0.3   1.9      0.042  -5.0  -1.6
1105           6.2   7.0      0.053  -0.8   2.0
1106           0.7   4.7      0.068  -3.6  -1.4
1107           1.9   0.7      0.022  -2.6  -0.2
1108           3.2   5.2      0.042  -2.0   0.0
1109           0.9   5.5      0.086  -1.5   0.4
1110           0.7  -0.8     -0.030  -5.8  -1.2
1111           1.1   2.7      0.051  -1.2   0.5
1112           0.3   0.7      0.050  -3.7  -0.3
1113           1.8  -0.1     -0.004  -6.0  -1.3
1114           1.6   5.8      0.066  -0.4   1.7
1115           0.2  -0.4     -0.206 -10.4  -0.2
1116           0.3   1.3      0.108  -3.1  -0.2
1117           0.6   0.4      0.070  -0.5   0.1
1118           2.2  10.2      0.102  -0.1   2.3
1119           1.9   0.7      0.019  -3.4  -0.6
1120           0.7   8.4      0.155   0.3   1.5
1121           0.5   0.9      0.021  -3.9  -1.0
1122           0.0   0.0      0.000   0.0   0.0
1123           0.4   0.2      0.026  -4.6  -0.2
1124           0.2   0.1      0.082  -3.1   0.0
1125           1.3   5.5      0.115   1.0   1.7
1128           0.5  -0.1     -0.024  -6.4  -0.2
1129           0.7   1.0      0.028  -3.2  -0.6
1130           0.8   0.8      0.024  -3.4  -0.6
1131           0.8  -0.6     -0.039  -5.7  -0.8
1132           0.3   0.6      0.202   1.0   0.1
1133           0.5  -0.1     -0.005  -6.8  -1.5
1134           0.0   0.0      0.000   0.0   0.0
1135           2.9   1.5      0.054  -3.1  -0.4
1136           1.2   5.2      0.053  -2.0   0.0
1137           0.6   2.9      0.068  -2.5  -0.2
1138           3.2  13.3      0.202   6.1   6.5
1139           0.4  -0.1     -0.020  -7.3  -0.3
1140           0.3   0.2      0.098  -3.0   0.0
1141           1.2   1.1      0.031  -2.7  -0.3
1142           0.6   7.8      0.166   1.0   1.7
1143           2.7   5.3      0.045  -1.5   0.7
1144           0.7  -0.2     -0.068  -6.4  -0.1
1145           1.1   0.1      0.006  -5.5  -0.4
1146           0.2  -0.1     -0.021  -7.7  -0.2
1147           0.0   0.0      0.000   0.0   0.0
1148           0.0   0.0      0.291  -4.1   0.0
1149           0.0   0.0      0.000   0.0   0.0
1150           0.0   0.0      0.000   0.0   0.0
1151           0.0   0.0      0.000   0.0   0.0
1152           2.2  -0.1     -0.010  -7.4  -0.8
1153           0.7  -0.3     -0.028  -5.0  -0.3
1154           0.0   0.0      0.000   0.0   0.0
1155           0.7   0.6      0.049  -5.4  -0.5
1156           0.0   0.0      0.000   0.0   0.0
1157           0.3   0.9      0.071  -4.6  -0.4

[60 rows x 22 columns]

In [20]:
WS48_yearly_avg = [draft_df[draft_df['Draft_Year'] == year]['WS_per_48'].mean() for yr in draft_df.Draft_Year.unique() ]

In [21]:
WS48_yearly_avg

[0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997,
 0.023399999999999997]

In [22]:
WS48_yearly_avg = [draft_df[draft_df['Draft_Year']==yr]['WS_per_48'].mean()
                 for yr in draft_df.Draft_Year.unique() ]

In [23]:
WS48_yearly_avg.dftype

[0.057999999999999996,
 0.054543859649122804,
 0.075534482758620694,
 0.054379310344827583,
 0.04332758620689655,
 0.045596491228070177,
 0.049368421052631575,
 0.041172413793103449,
 0.04293220338983051,
 0.053916666666666654,
 0.053616666666666674,
 0.051283333333333334,
 0.066633333333333336,
 0.066833333333333328,
 0.046366666666666667,
 0.065100000000000005,
 0.041116666666666662,
 0.049133333333333327,
 0.043966666666666668,
 0.048033333333333338,
 0.023399999999999997]

In [24]:
WS48_yearly_avg = draft_df.groupby('Draft_Year').WS_per_48.mean()

In [25]:
WS48_yearly_avg

Draft_Year
1996    0.058000
1997    0.054544
1998    0.075534
1999    0.054379
2000    0.043328
2001    0.045596
2002    0.049368
2003    0.041172
2004    0.042932
2005    0.053917
2006    0.053617
2007    0.051283
2008    0.066633
2009    0.066833
2010    0.046367
2011    0.065100
2012    0.041117
2013    0.049133
2014    0.043967
2015    0.048033
2016    0.023400
Name: WS_per_48, dtype: float64

In [26]:
type(WS48_yearly_avg)

pandas.core.series.Series

In [27]:
seaborn.set_style("white")

In [28]:
ppt.figure(figsize=(13,10))

In [29]:
x_values = draft_df.Draft_Year.unique()
y_values = WS48_yearly_avg